<navbar></navbar>
<main>
    <md-content class="page-container">
        <md-card class="page">
            <h1>Event</h1>
            <p>Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Maecenas sed diam eget
                risus
                varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur
                et.</p>
        </md-card>
    </md-content>
</main>
