<md-toolbar>
    <div class="md-toolbar-tools">
        <!--<a ui-sref="register"><md-button>-->
        <!--Register-->
        <!--</md-button></a>-->
        <!--<a ui-sref="login"><md-button>-->
        <!--Login-->
        <!--</md-button></a>-->
        <a ui-sref="home" class="logo">
            <img src="/app/public/img/uISh1DqVWv0.png" alt="logo">
        </a>
        <a ui-sref="home" ng-class="{active: $ctrl.$state.includes('home')}">
            <md-button>
                Home
            </md-button>
        </a>

        <a ui-sref="requireAuth.userProfile({role:0})"
           ng-class="{active: $ctrl.$state.includes('requireAuth.userProfile')}"
           ng-disa2bled="$root.currentUser.role && $root.currentUser.role === 'organiser'">
            <md-button>
                Athletes
            </md-button>
        </a>

        <!--ORGANISERS -->
        <a ui-sref="requireAuth.organiserProfile({role:1})"
           ng-class="{active: $ctrl.$state.includes('requireAuth.organiserProfile')}"
           ng-di2sabled="$root.currentUser.role && $root.currentUser.role === 'user'">
            <md-button>
                Organisers
            </md-button>
        </a>

        <!--About -->
        <a ui-sref="aboutPage" ng-class="{active: $ctrl.$state.includes('aboutPage')}">
            <md-button>
                About
            </md-button>
        </a>

        <!--Create Event -->
        <a ui-sref="createEvent" ng-class="{active: $ctrl.$state.includes('createEvent')}">
            <md-button>
                Create Event
            </md-button>
        </a>


        <!--Login Organiser -->
        <!--<a ui-sref="auth.login" ng-class="{active: $ctrl.$state.includes('login')}">-->
        <!--<md-button>-->
        <!--Login Organiser-->
        <!--</md-button>-->
        <!--</a>-->


        <!-- Register Orginier -->
        <!--<a ui-sref="registerOrginiser" ng-class="{active: $ctrl.$state.includes('registerOrginiser')}">
          <md-button>
            Register Orginiser
          </md-button>
        </a>-->

        <md-button ng-click="$ctrl.logout()" ng-if="$root.currentUser">
            Logout
        </md-button>

        <!--<span flex></span>
        <label>{{userEmail}}</label>
        <md-button class="md-fab md-mini" aria-label="Favorite">
          <!--Link to User Profile Pic-->
        <!--</md-button>-->
    </div>
</md-toolbar>
