<!-- Role 0 - means Athlete
     Role 1 - means Organiser
-->
<navbar></navbar>
<main>
    <div layout>
        <md-card flex="100">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-display-1">Hello</span>
                    <span
                        class="md-subhead">Hello world</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>

        <!--md-card flex="50">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-display-1">Organisers</span>
                    <span class="md-subhead">Register here to create your account to Create and Manage Events, Entries, Scoring and Finals.</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <a ui-sref="auth.register({role:'1'})">
                    <md-button class="md-raised md-primary">Register</md-button>
                </a>
            </md-card-actions>
        </md-card--->
    </div>

</main>

