<navbar></navbar>
<div layout="column" layout-align="center center" layout-fill="layout-fill">
    <div layout="column" class="loginBox md-whiteframe-z1">
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span>Register</span></h2>
        </md-toolbar>

        <md-content layout="column" class="md-padding">
            <md-input-container class="md-icon-float md-block">
                <label>Email</label>
                <input type="text" ng-model="organiserEmail" required>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label>Password</label>
                <input type="Password" ng-model="organiserPassword" required>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label>Password Confirmation</label>
                <input type="Password" ng-model="organiserPasswordConfirmation" required>
            </md-input-container>
            <div layout="row" layout-align="center center" style="padding-top:20px;">
                <md-button class="md-raised md-primary"
                           ng-click="$ctrl.orginiserRegister(organiserEmail,organiserPassword,organiserPasswordConfirmation)">
                    Register
                </md-button>
                <!--<a ui-sref="login"><md-button class="md-raised md-primary" >Login</md-button></a>-->
            </div>
        </md-content>
    </div>
</div>
