<navbar></navbar>
<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
        <md-card ng-form="userProfileForm" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text flex="70">
          <span class="md-headline">
            <md-input-container>
              <label>First Name</label>
              <input type="text" ng-model="user.name.first" required/>
            </md-input-container>
            <md-input-container>
              <label>Last Name</label>
              <input type="text" ng-model="user.name.last" required/>
            </md-input-container>
          </span>
                    <span class="md-subhead">

          <md-input-container>
            <label>Sex</label>
            <md-select ng-model="user.sex">
              <md-option ng-value="'Male'">Male</md-option>
              <md-option ng-value="'Female'">Female</md-option>
            </md-select>
          </md-input-container>
            <br>
         <md-input-container>
            <label>Height(cm)</label>
            <input type="text" ng-model="user.height" required ng-maxlength="3"/>
          </md-input-container>

          <md-input-container>
            <label>Weight(kg)</label>
            <input type="text" ng-model="user.weight" required ng-maxlength="3"/>
          </md-input-container>
             <br>

          <md-input-container>
            <label>Date of Birth</label>
            <md-datepicker ng-model="userBirthday" md-max-date="maxDate" md-placeholder="Enter date"
                           md-max-date=maxDateForDatePicker></md-datepicker>
          </md-input-container>

          <md-input-container>
            <label>Affiliate Name</label>
            <input type="text" ng-model="user.affiliateName"/>
          </md-input-container>

            <md-autocomplete required
                             placeholder="Start type the country first letter"
                             md-input-name="autocompleteField"
                             md-inp3ut-maxlength="50"
                             md-input-minlength="2"
                             md-no-cache="true"
                             md-selected-item="user.country"
                             md-search-text="searchText"
                             md-items="item in $root.querySearchCountry(searchText)"
                             md-item-text="item.name"
                             md-floating-label="Home country">
          <md-item-template>
            <span md-highlight-text="searchText" md-highlight-flags="^i" ng-b2ind="item.name">{{item.name}}</span>
          </md-item-template>
          <md-not-found>
            No matches found.
          </md-not-found>
          <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
            <div ng-message="required">You <b>must</b> have a favorite state.</div>
            <div ng-message="md-require-match">Please select an existing state.</div>
            <div ng-message="minlength">Your entry is not long enough.</div>
            <div ng-message="maxlength">Your entry is too long.</div>
          </div>
        </md-autocomplete>

          </span>
                </md-card-title-text>
                <md-card-title-media flex="30">
                    <div class="md-media-xl card-media">
                        <!--<img ngf-thumbnail="file" style="max-width: 30%;max-height:50%" align="right">-->
                        <div class="clearfix">
                            <img ng-src="{{user.picPhoto || 'app/public/img/no-avatar.png'}}"
                                 style="max-width: 50%;max-height:50%"
                                 align="right">
                        </div>
                        <div class="buttons-control">
                            <md-button class="md-raised md-primary" ng-disabled="userProfileForm.$invalid"
                                       ng-click="saveUserInfo(user)">
                                Save
                            </md-button>
                            <md-button class="md-raised md-primary" ngf-select name="file"
                                       ngf-max-size="2MB" accept="image/*" ng-model="picPhoto"
                                       ngf-model-invalid="errorFile">
                                Change Logo
                            </md-button>
                        </div>
                    </div>
                </md-card-title-media>
            </md-card-title>
        </md-card>
    </div>
</md-content>
