<div data-ng-init="verifyUserEmail()"></div>
<div ng-if="$root.urlIsGood">
    <center>
        <div id="borderToText">
            <h2>
                Your Email has been veryfied
            </h2>
            <h3>
                You can now sign in with your new account
            </h3>
            <p>
                Now you'll be redirect baсk to site
            </p>
            <p>Or click <a href="events.compcast.co.uk"> here</a> if you don't redirected</p>
        </div>
    </center>
</div>
<div ng-if="!$root.urlIsGood" id="borderToText">
    <center>
        <p>Sorry something was wrong please contact to support</p>
    </center>
</div>
