<navbar></navbar>

<div layout="column" layout-align="center center" layout-fill="layout-fill">
    <div layout="column" class="loginBox md-whiteframe-z1">
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span>Register</span></h2>
        </md-toolbar>

        <md-content layout="column" class="md-padding">
            <form name="myForm">
                <md-input-container class="md-icon-float md-block">
                    <label>Email</label>
                    <input type="email" ng-model="userEmail" name="input" required>
                    <div role="alert">
                        <!--<span class="error" ng-show="myForm.input.$error.required">
                        Required!</span>-->
                        <span class="error" ng-show="myForm.input.$error.email">
        Not valid email!</span>
                    </div>

                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>Password</label>
                    <input type="Password" ng-model="userPassword" required>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>Password Confirmation</label>
                    <input type="Password" ng-model="userPasswordConfirmation" required>
                </md-input-container>

                <!-- Radio Button Must be delete -->
                <!--<md-input-container  class="md-icon-float md-block" ng-init="radioGroupUserRole='athlet'">
                  <label>Are You: </label>
                  <br/>
                  <br/>
                  <md-radio-group ng-model="radioGroupUserRole" >
                    <md-radio-button value="athlet" class="md-primary"id="radioButtonInLine">Athlet</md-radio-button>
                    <md-radio-button value="organiser" class="md-primary" id="radioButtonInLine">Organiser</md-radio-button>
                </md-radio-group>
                </md-input-container>
               -->
                <div id="captcha" align="center"></div>
                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button class="md-raised md-primary"
                               ng-click="$ctrl.userRegister(userEmail,userPassword,userPasswordConfirmation)">Register
                    </md-button>
                    <a ui-sref="login">
                        <md-button class="md-raised md-primary">Login</md-button>
                    </a>
                </div>
            </form>
        </md-content>
    </div>
</div>
