<navbar></navbar>
<!--<button ng-click="createEvent()">Create Event</button>-->
<!--<button ng-click="getEvents()">Get Events</button>-->

<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
        <md-card ng-form="userProfileForm" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text flex="70" ng-form="organiserProfileForm">
          <span class="md-headline">
            <md-input-container>
              <label>Company Name</label>
              <input type="text" ng-model="organiser.company" required/>
            </md-input-container>
              <br>
            <md-input-container>
              <label>First Name</label>
              <input type="text" ng-model="organiser.name.first" required/>
            </md-input-container>
            <md-input-container>
              <label>Last Name</label>
              <input type="text" ng-model="organiser.name.last" required/>
            </md-input-container>
          </span>
                    <span class="md-subhead">
            <md-input-container>
              <label>Address 1</label>
              <input type="text" ng-model="organiser.address.firstAddress" required/>
            </md-input-container>
            <md-input-container>
              <label>Address 2</label>
              <input type="text" ng-model="organiser.address.secondAddress" required/>
            </md-input-container>
              <br>
             <md-autocomplete required
                              placeholder="Start type the country first letter"
                              md-input-name="autocompleteField"
                              md-inp3ut-maxlength="50"
                              md-input-minlength="2"
                              md-no-cache="true"
                              md-selected-item="organiser.address.country"
                              md-search-text="searchText"
                              md-items="item in $root.querySearchCountry(searchText)"
                              md-item-text="item.name"
                              md-floating-label="Home country">
              <md-item-template>
                <span md-highlight-text="searchText" md-highlight-flags="^i" ng-b2ind="item.name">{{item.name}}</span>
              </md-item-template>
              <md-not-found>
                No matches found.
              </md-not-found>
              <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                <div ng-message="required">You <b>must</b> have a favorite state.</div>
                <div ng-message="md-require-match">Please select an existing state.</div>
                <div ng-message="minlength">Your entry is not long enough.</div>
                <div ng-message="maxlength">Your entry is too long.</div>
              </div>
            </md-autocomplete>

                        <!--<md-input-container>-->
                        <!--<label>Country</label>-->
                        <!--<input type="text" ng-model="organiser.address.country" required ng-maxlength="3"/>-->
                        <!--</md-input-container>-->
            <md-input-container>
              <label>City</label>
              <input type="text" ng-model="organiser.address.city" required ng-maxlength="3"/>
            </md-input-container>
              <br>
            <md-input-container>
              <label>Postal Code</label>
              <input type="text" ng-model="organiser.address.postalCode"/>
            </md-input-container>
          </span>
                </md-card-title-text>

                <md-card-title-media flex="30">
                    <div class="md-media-xl card-media">
                        <!-- Photo here -->
                        <div class="clearfix">
                            <img class="thumb" ng-src="{{organiser.picPhoto || 'app/public/img/no-avatar.png'}}"
                                 style="max-width: 50%;max-height:50%"
                                 align="right">
                        </div>
                        <div class="buttons-control">
                            <md-button class="md-raised md-primary" ng-disabled="organiserProfileForm.$invalid"
                                       ng-click="saveUserInfo(organiser)">
                                Save
                            </md-button>

                            <md-button class="md-raised md-primary" ngf-select name="file"
                                       ngf-max-size="2MB" accept="image/*" ng-model="picPhoto"
                                       ngf-model-invalid="errorFile">
                                Change logo
                            </md-button>
                        </div>
                    </div>

                </md-card-title-media>

            </md-card-title>


            <div class="events-list">
                <md-card>
                    <md-toolbar md-scroll-shrink>
                        <div class="md-toolbar-tools">
                            <h3>
                                <span>Events List</span>
                            </h3>
                        </div>
                    </md-toolbar>
                    <md-table-container>
                        <table md-table ng-model="selected" md-progress="promise">
                            <thead md-head md-order="query.order" md-on-reorder="$ctrl.getEvents">
                            <tr md-row>
                                <th md-column>Event name</th>
                                <th md-column>Date</th>
                                <th md-column md-numeric>Description</th>
                                <th md-column md-numeric>Entry Price</th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row ng-repeat="(key, val) in eventsData">
                                <td md-cell>{{val.address}}</td>
                                <td md-cell>{{val.website}}</td>
                                <td md-cell>{{val.description}}</td>
                                <td md-cell>{{val.entryPrice}}</td>
                                <a ui-sref="eventPage({id:key})">
                                    <md-button class="md-raised md-primary">More</md-button>
                                </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>

                    <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{order.count || 10}}"
                                         md-on-paginate="$ctrl.getEvents"></md-table-pagination>

                </md-card>
            </div>
        </md-card>


    </div>
</md-content>
