<navbar></navbar>
<div layout="column" layout-align="center center" layout-fill="layout-fill">
    <!--LOGO Should be HERE -->
    <img src="app/public/img/uISh1DqVWv0.png"/>

    <div layout="column" class="loginBox md-whiteframe-z1">
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span>Login</span></h2>
        </md-toolbar>
        <md-content layout="column" class="md-padding">
            <md-input-container>
                <label>Email Address</label>
                <input type="email" ng-model="userEmailLogin"/>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="userPasswordLogin" required/>
            </md-input-container>
            <!--<div class="g-recaptcha" data-sitekey="6LdbiQsUAAAAAKehzsOqCIeQj3Gp0flB5FpMx3WO"></div>-->
            <div layout="row" layout-align="center center" style="padding-top:20px;">
                <md-button class="md-raised md-primary" ng-click="userLogin(userEmailLogin,userPasswordLogin)">Login
                </md-button>
                <a ng-if="role === 0" ui-sref="auth.register({role:0})">
                    <md-button class="md-raised md-primary">Register</md-button>
                </a>
                <a ng-if="role === 1" ui-sref="auth.register({role:1})">
                    <md-button class="md-raised md-primary">Register</md-button>
                </a>
                <div flex="flex"></div>
                <a ui-sref="auth.userResetPassword">
                    <md-button md-no-ink="md-no-ink">Forgot Password</md-button>
                </a>
            </div>
            <br>
            <!--FACEBOOK LOGIN -->
            <md-divider></md-divider>
            <p class="md-subhead" align="center" layout="row" layout-align="left center">Or Sign In With:
                <a href="">
                    <img id="rock" src="app/public/img/1479488484_facebook.png" ng-click="userLoginUsingFacebook()">
                </a>
            </p>
        </md-content>
    </div>
</div>
